@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --bg-color: #fcfffc;
    --secondary-color: #00bdcf;
    --font-family: 'Montserrat', sans-serif;
}

* {
    margin: 0;
	padding: 0;
	border: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-color);
}

