.section-button {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    min-height: 87vh;
}

.upper-buttons {
    display: flex;
    flex-direction: row;
    margin-bottom: 5%;
    justify-content: space-around;
}
.lower-buttons {
    
    display: flex;
    margin-top: 5%;
    justify-content: center;
    justify-content: space-around;
}

.custom-button {
    margin: 5%;
}